<div class="d-md-block sidebar p-4">
  <h6 class="text-light d-flex justify-content-start mb-0 ">MENU</h6>
  <ul class="nav flex-column d-flex align-items-start pt-3">
    <li class="nav-item d-flex">
      <div class="py-2 text-white d-flex justify-content-start align-items-center gap-3">
        <img src="../../assets/Icon.png" alt="Codigo" class="logo mr-3">
        <a [routerLink]="['/editor-codigo']" [ngStyle]="{'text-decoration': 'none', 'color': 'white'}">Editor de Código</a>
      </div>
    </li>
    <li class="nav-item d-flex">
      <div class="py-2 text-white d-flex justify-content-start align-items-center gap-3">
        <img src="../../assets/Comunidade.png" alt="Codigo" class="logo mr-3">
        <a [routerLink]="['/comunidade']" [ngStyle]="{'text-decoration': 'none', 'color': 'white'}">Comunidade</a>
      </div>
    </li>
  </ul>
</div>
