/* .search {
  border: transparent;
  color: white;
  border-radius: 3px;
  background-color: white;
  width: 50%;
  height: 35px;
  margin-left: 100px;
  padding-left: 10px;
} */

/* .user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 300px;
}

.user-name{
  color: white;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
} */


