<header>
  <div class="py-2 container-fluid d-grid gap-5 align-items-center" style="grid-template-columns: 1fr 4fr 1fr;">
    <div>
      <a href="#" class="navbar-brand">
        <img src="../../assets/logo.png" alt="Logo de AluraDev" class="logo w-75">
      </a>
    </div>

    <div class="d-flex justify-content-center">
      <form class="w-75">
        <input class="form-control" aria-label="Search" type="text" placeholder="Busque por algo">
      </form>
    </div>
    <div class="">
      <a href="#" class="d-block link-dark text-decoration-none ml-auto" id="dropdownUser2" aria-expanded="false">
        <span class="p-3 text-light">Harry</span>
        <img src="../../assets/Photo.png" alt="Imagem de perfil do usuário" class="user-image">
      </a>
    </div>
  </div>
</header>
